.tile {
	height: 100%;
	width: 100%;
	background: $gray-10;

	-webkit-transition: background 0.2s;

	h2 {
		margin: 0;
	}

	h3 {
		margin: 0;
	}

	h4 {
		margin: 0;
		font-weight: 100;
	}

	.content {
		padding: 10px;
	}
}

.tile:hover {
	background: $soft-yellow;
	-webkit-transition: background 0.2s;
}
