$font-stack: Helvetica, sans-serif;
$spacing-s: 0.25rem;
$spacing-m: 0.5rem;
$spacing-l: 0.75rem;
$spacing-xl: 1rem;

$light-green: #cae8c3;
$green: #7a9c73;
$dark-green: #2a4c22;

$light-yellow: #fecd5f;
$dark-yellow: #f5ba4e;

$light-pink: #ffe0df;
$light-purple: #e0d4ff;

$blue: #c4edfc;

$light-mango: #ff998e;
$mango: #ff5e4d;
$dark-mango: #9a1c0f;

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$soft-pink: #f8d6d1;
$soft-blue: #d0deee;
$soft-yellow: #fff0d0;

$gray-10: #f8f8f8;

@import 'components/work/styles.scss',
	'components/expressConstraints/styles.scss';

@font-face {
	font-family: 'Apercu';
	src: url('../assets/apercu_light.otf');
}

@font-face {
	font-family: 'Avant';
	src: url('../assets/avant.otf');
}

body {
	font-family: 'Apercu';
	color: $primary-color;

	margin: 0;
	padding: 0;

	text-decoration: none;

	.moon {
		font-family: 'avant';
	}

	.header {
		position: absolute;
		top: 0;
		z-index: 1;
	}

	.link {
		text-decoration: none;
		color: inherit;
	}

	h1 {
		font-weight: 100;
		font-size: 28px;
		padding: 0;
		margin: 0;
	}
	h2 {
		font-weight: 100;
		font-size: 24px;
		padding: 0;
		margin: 0;
	}
	h3 {
		font-weight: 100;
		font-size: 20px;
		padding: 0;
		margin: 0;
	}

	p {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.white-text {
		color: white;
	}

	.light-mango-text {
		color: $light-mango;
	}

	.light-pink-text {
		color: $light-pink;
	}

	.light-purple-text {
		color: $light-purple;
	}

	.light-yellow-text {
		color: $light-yellow;
	}

	.mango-gradient {
		background: linear-gradient(30deg, $mango, $dark-mango);
	}

	.light-pink-background {
		background: $light-pink;
	}

	.light-purple-background {
		background: $light-purple;
	}

	.mango-background {
		background: $mango;
	}

	.light-mango-background {
		background: $light-mango;
	}

	.blue-background {
		background: $blue;
	}

	.light-green-background {
		background: $light-green;
	}

	.green-background {
		background: $mango;
	}

	.light-yellow-background {
		background: $light-yellow;
	}

	.border-radius {
		border-radius: 0.25rem;
	}

	.input {
		color: $light-green;
	}

	.output {
		color: white;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.center {
		justify-content: center;
		align-items: center;
	}

	.project-content {
		max-width: 40rem;
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-top: 5rem;
	}

	.panel {
		height: 100vh;
		min-height: 55px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.content {
		max-width: 40rem;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.flex-row {
		display: flex;
	}

	.flex-col {
		flex-direction: column;
		display: flex;
	}

	.padding-s {
		padding: $spacing-s;
	}

	.padding-m {
		padding: $spacing-m;
	}

	.padding-l {
		padding: $spacing-l;
	}

	.padding-xl {
		padding: $spacing-xl;
	}

	.margin-s {
		margin: $spacing-s;
	}

	.margin-m {
		margin: $spacing-m;
	}

	.margin-l {
		margin: $spacing-l;
	}

	.margin-xl {
		margin: $spacing-xl;
	}

	.margin-bottom-s {
		margin-bottom: $spacing-s;
	}

	.margin-bottom-m {
		margin-bottom: $spacing-m;
	}

	.margin-bottom-l {
		margin-bottom: $spacing-l;
	}

	.margin-bottom-xl {
		margin-bottom: $spacing-xl;
	}

	.margin-top-s {
		margin-top: $spacing-s;
	}

	.margin-top-m {
		margin-top: $spacing-m;
	}

	.margin-top-l {
		margin-top: $spacing-l;
	}

	.margin-top-xl {
		margin-top: $spacing-xl;
	}

	.margin-left-s {
		margin-left: $spacing-s;
	}

	.margin-left-m {
		margin-left: $spacing-m;
	}

	.margin-left-l {
		margin-left: $spacing-l;
	}

	.margin-left-xl {
		margin-left: $spacing-xl;
	}

	.content-container {
		width: 70%;
	}

	.height-100p {
		height: 100%;
	}

	.width-100p {
		width: 100%;
	}

	.height-50p {
		height: 50%;
	}

	.width-50p {
		width: 50%;
	}

	.output-pink {
		color: $light-pink;
	}

	input {
		background: none;
		font-family: 'apercu';
		border: none;
		color: white;
		font-size: 24px;
	}

	input::placeholder {
		color: $light-mango;
	}

	textarea:focus,
	input:focus {
		outline: none;
	}
}
