$font-stack: Helvetica, sans-serif;
$spacing-s: 0.25rem;
$spacing-m: 0.5rem;
$spacing-l: 0.75rem;
$spacing-xl: 1rem;

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$soft-pink: #f8d6d1;
$soft-blue: #d0deee;
$soft-yellow: #fff0d0;

$gray-10: #f8f8f8;

@import 'components/tile/styles.scss', 'components/home/styles.scss';

@font-face {
	font-family: 'Apercu';
	src: url('../assets/apercu_light.otf');
}

body {
	font-family: 'Apercu';
	color: $primary-color;

	margin: 0;
	padding: 0;

	h1 {
		font-weight: 100;
		font-size: 32px;
		padding: 0;
		margin: 0;
	}
	h2 {
		font-weight: 100;
		font-size: 28px;
		padding: 0;
		margin: 0;
	}
	h3 {
		font-weight: 100;
		font-size: 22px;
		padding: 0;
		margin: 0;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	.master {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.padding-s {
		padding: $spacing-s;
	}

	.padding-m {
		padding: $spacing-m;
	}

	.padding-l {
		padding: $spacing-l;
	}

	.padding-xl {
		padding: $spacing-xl;
	}

	.margin-s {
		margin: $spacing-s;
	}

	.margin-m {
		margin: $spacing-m;
	}

	.margin-l {
		margin: $spacing-l;
	}

	.margin-xl {
		margin: $spacing-xl;
	}

	.margin-bottom-s {
		margin-bottom: $spacing-s;
	}

	.margin-bottom-m {
		margin-bottom: $spacing-m;
	}

	.margin-bottom-l {
		margin-bottom: $spacing-l;
	}

	.margin-bottom-xl {
		margin-bottom: $spacing-xl;
	}

	.margin-top-s {
		margin-top: $spacing-s;
	}

	.margin-top-m {
		margin-top: $spacing-m;
	}

	.margin-top-l {
		margin-top: $spacing-l;
	}

	.margin-top-xl {
		margin-top: $spacing-xl;
	}

	.margin-left-s {
		margin-left: $spacing-s;
	}

	.margin-left-m {
		margin-left: $spacing-m;
	}

	.margin-left-l {
		margin-left: $spacing-l;
	}

	.margin-left-xl {
		margin-left: $spacing-xl;
	}

	.content-container {
		width: 70%;
	}

	.height-100p {
		height: 100%;
	}

	.width-100p {
		width: 100%;
	}

	.height-50p {
		height: 50%;
	}

	.width-50p {
		width: 50%;
	}
}
