$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$soft-pink: #f8d6d1;
$soft-blue: #d0deee;
$soft-yellow: #fbf276;

$gray-10: #f8f8f8;
$gray-50: #8f8f8f;

@import 'components/tile/styles.scss',
	'components/home/styles.scss',
	'components/header/styles.scss';

@font-face {
	font-family: 'Freight Book';
	src: url('../assets/Freight_Book.otf');
}

body {
	font-family: 'Freight Book';
	color: $primary-color;
	margin: 0;
	padding: 0;

	div {
		margin: 0;
		padding: 0;
	}

	h1 {
		font-weight: 1000;
		font-size: 36px;
	}
	h2 {
		font-weight: 800;
		font-size: 32px;
	}
	h3 {
		font-weight: 800;
		font-size: 24px;
	}

	h4 {
		font-weight: 800;
		font-size: 20px;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	.content-page-container {
		margin-top: 7rem;
	}

	.master {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.link {
		text-decoration: none;
		color: $primary-color;
	}

	.content-container {
		max-width: 40rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.height-100p {
		height: 100%;
	}

	.width-100p {
		width: 100%;
	}

	.height-50p {
		height: 50%;
	}

	.width-50p {
		width: 50%;
	}

	.margin-top-s {
		margin-top: 0.125rem;
	}

	.margin-bottom-s {
		margin-bottom: 0.125rem;
	}

	.margin-left-s {
		margin-left: 0.125rem;
	}

	.margin-right-s {
		margin-right: 0.125rem;
	}

	.highlight-y {
		background: linear-gradient(
			0deg,
			transparent 0%,
			transparent 20%,
			$soft-yellow 20%,
			$soft-yellow 55%,
			transparent 55%,
			transparent 100%
		);
	}

	.highlight-b {
		background: linear-gradient(
			0deg,
			transparent 0%,
			transparent 45%,
			#ccf4ff 45%,
			#ccf4ff 75%,
			transparent 75%,
			transparent 100%
		);
	}

	.highlight-p {
		background: linear-gradient(
			5deg,
			transparent 0%,
			transparent 25%,
			#ffd1d9 25%,
			#ffd1d9 65%,
			transparent 65%,
			transparent 100%
		);
	}
}
